@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.badge {
  @include flex;
  @include smallMobile;
  position: absolute;
  top: rem(8px);
  left: rem(8px);
  color: $white;
  height: rem(18px);
  padding: 0 rem(8px);
  border-radius: rem(100px);

  &--live {
    text-transform: uppercase;
    background-color: $red;
  }

  &--day {
    background-color: $blue;
  }

  &--support {
    @include getGradientBg(right, ($purple, $lightblue));
  }

  @include mq(lg) {
    @include smallDesktop;
    height: rem(25px);
    padding: 0 rem(12px);
  }
}
