@use "../abstracts" as *;

.button {
  @include flex;
  @include descriptionMobile;
  height: rem(32);
  padding: 0 rem(14);
  border: 1px solid transparent;
  border-radius: rem(4);
  transition: all 0.2s ease-in-out;
  flex-shrink: 0;

  * {
    pointer-events: none;
  }

  &--fat {
    color: $black;
  }

  &--ghost,
  &--opacity,
  &--fill {
    color: $white;
  }

  &--ghost {
    background-color: transparent;

    &.is--active {
      color: $red;
    }
  }

  &--opacity {
    background-color: $gray-700;

    &.is--active {
      color: $red;
      border-color: $red;
    }
  }

  &--fill {
    background-color: $red;
  }

  &--fat {
    height: rem(36);
    background-color: $white;

    &.is--active {
      color: $white;
      background-color: $gray-700;
    }

    &.is--active {
      .icon--arrow {
        transform: rotate(90deg);
      }
    }
  }

  &--wide {
    padding: 0 rem(48);
  }

  .icon {
    margin-left: rem(-2);
    margin-right: rem(2);
    font-size: rem(20);
  }

  @include mq(lg) {
    @include descriptionDesktop;
    height: rem(36);

    &--ghost {
      &:hover,
      &:active,
      &.is--active {
        color: $red;
      }
    }

    &--opacity {
      &:hover,
      &:active,
      &.is--active {
        color: $red;
        border-color: $red;
      }
    }

    &--fat {
      height: rem(48);
      padding: 0 rem(36);

      &:hover,
      &:active,
      &.is--active {
        color: $white;
        background-color: $gray-700;
      }
    }

    &--wide {
      height: rem(46);
      padding: 0 rem(48);
    }

    .icon {
      margin-left: rem(-4);
      margin-right: rem(4);
      font-size: rem(24);
    }
  }
}

.before__button {
  position: absolute;
  top: rem(24);
  left: rem(9);
  z-index: $before__button-index;
  font-size: rem(24);
  transform: rotate(180deg);

  @include mq(md) {
    font-size: rem(40);
  }

  @include mq(lg) {
    display: none;
  }
}
