@use "../abstracts/mixins/breakpoints" as *;
@use "../abstracts/mixins/fontStyle" as *;
@use "../abstracts/variables/colors" as *;

.caption {
  &--timeline {
    .card__time {
      @include smallMobile;
      color: $lightblue;
    }

    .card__title {
      @include descriptionMobile;
      margin-top: 2px;
      color: $white;
    }

    @include mq(md) {
      .card__time {
        @include smallDesktop;
      }

      .card__title {
        @include descriptionDesktop;
      }
    }
  }
}
