@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/placeholders/a11yHidden" as *;
@use "../abstracts/variables" as *;

.card__caption {
  @include descriptionMobile;
  margin-top: rem(2);
  color: $white;

  &.oneline {
    .description {
      @include smallMobile;
      @include flex(start);
      gap: rem(4);
      color: $gray-300;

      &__profile {
        @include profileCircle(rem(18));
      }
    }

    @include mq(lg) {
      @include descriptionDesktop;
      gap: rem(4);
      .description {
        @include smallDesktop;
      }
      &__profile {
        @include profileCircle(rem(20));
      }
    }
  }
}
