// 아무거나
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.wrap {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: $zarousel-index;

  .container {
    margin-top: 20%;
    width: rem(420);
    height: rem(320);
    perspective: 1000px;
  }

  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 200ms;
  }

  .item {
    position: absolute;
    width: rem(400);
    height: rem(300);
    padding: rem(10);
    transition: transform 200ms;

    video {
      width: 100%;
      height: 100%;
    }
  }

  .item:nth-child(1) {
    transform: rotateY(0deg) translateZ(346px);
  }
  .item:nth-child(2) {
    transform: rotateY(60deg) translateZ(346px);
  }
  .item:nth-child(3) {
    transform: rotateY(120deg) translateZ(346px);
  }
  .item:nth-child(4) {
    transform: rotateY(180deg) translateZ(346px);
  }
  .item:nth-child(5) {
    transform: rotateY(240deg) translateZ(346px);
  }
  .item:nth-child(6) {
    transform: rotateY(300deg) translateZ(346px);
  }

  .carousel__button {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: $before__button-index;
  }

  .next_button,
  .prev_button {
    color: $white;
    cursor: pointer;
    border-radius: rem(5);
    .icon {
      font-size: rem(48);
    }
  }

  .prev_button {
    transform: rotate(180deg);
  }

  @include mq(md) {
    display: flex;
  }
}

//mobile

.slide {
  position: relative;
  @include flex;
  margin: 0 auto;
  margin-top: rem(100);
  width: 70%;
  height: auto;
  overflow: hidden;
  padding-bottom: rem(30);

  &__set {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 300ms ease-in-out;
  }

  &__video {
    min-width: 100%;
    width: 100%;
    height: 100%;
    font-size: rem(40);

    video {
      width: 100%;
      height: 100%;
    }
  }
  &__control {
    position: absolute;
    top: rem(10);
    width: rem(30);
    height: rem(30);
    background: black;
    font-size: rem(30);
    border-radius: 50%;
  }

  .direction {
    position: absolute;
    display: flex;
    justify-content: space-between;
    @include flex(between, start);
    width: 100%;
    height: rem(30);

    button {
      width: rem(30);
      height: rem(30);
      display: flex;
      background: $black;
      border-radius: 50%;
      font-size: rem(25);
      justify-content: center;
      align-items: center;
    }

    &--left {
      transform: rotate(-180deg);
    }
  }

  .location {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    list-style: none;
    padding: 0;
    transform: translate(-50%);
  }

  .location button {
    width: rem(30);
    height: rem(6);
    background-color: $lightblue;
    margin-left: rem(10);
    cursor: pointer;
  }

  .location li:first-child button {
    background-color: $white;
  }

  @include mq(md) {
    display: none;
  }
}
