@use "../abstracts/functions/units" as *;
@use "../abstracts/variables/colors" as *;
@use "../abstracts/mixins" as *;

.category {
  max-width: 1024px;
  margin: auto;
  padding: 0 rem(16);
  border-bottom: 1px solid $gray-600;

  &__list {
    @include flex(start);
    gap: rem(18);
    overflow-x: auto;
  }

  &__item {
    @include titleMobile;
    color: $gray-300;
  }

  button {
    padding: rem(4);
    white-space: nowrap;

    &.is--active {
      color: $white;
      border-bottom: 2px solid currentColor;
    }
  }

  @include mq(md) {
    padding: 0 rem(40);

    &__list {
      gap: rem(24);
    }

    &__item {
      @include upcomingDesktop;
    }
    button {
      padding: rem(16) rem(4);
    }
  }
}
