@use "../abstracts/mixins" as *;
@use "../abstracts/variables/colors" as *;

.multiline {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "profile title "
    "profile list";
  column-gap: 10px;

  .card {
    &__title {
      @include descriptionMobile;
      grid-area: title;
      color: $white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @include mq(lg) {
        @include descriptionDesktop;
      }
    }

    &__profile {
      @include profileCircle(32);
      grid-area: profile;

      @include mq(lg) {
        @include profileCircle(42);
      }
    }

    .description__list {
      @include inlineFlex(start, center);
      @include smallMobile;
      color: $gray-300;
      grid-area: list;
    }
  }
}
