@use "../abstracts" as *;

.snb {
  &__list {
    @include flex(start, center);
    @include titleMobile;
    white-space: nowrap;
    gap: rem(4);
    overflow-x: auto;
  }

  &__item {
    padding: rem(2);
  }

  a {
    display: block;
    padding: rem(8) rem(4);
  }

  @include mq(lg) {
    &__list {
      gap: rem(16);
    }
  }
}
