@use "../abstracts" as *;
// use mp

.snb {
  &__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: rem(16px);
    @include titleMobile;
    @include mq(lg) {
      gap: rem(20px);
    }
  }
}
