@use "../abstracts" as *;

.snb {
  &__list {
    @include inlineFlex(start, center);
    @include titleMobile;
    white-space: nowrap;
    gap: rem(16px);
    overflow-x: auto;

    @include mq(lg) {
      gap: rem(20px);
    }
  }
}
