@use "../abstracts/functions/units" as *;

.starForm {
  fieldset {
    display: flex;
  }

  .starWrapper {
    position: relative;
    margin-right: rem(6);

    input[type="checkbox"] + label {
      display: block;
      position: relative;
      cursor: pointer;

      &::before {
        position: relative;
        display: inline-block;
        width: rem(30);
        height: rem(30);
      }
    }

    label {
      font-size: rem(30);
    }

    input[type="checkbox"]:focus + label::before {
      outline: #5d9dd5 solid 1px;
      outline-offset: rem(2);
    }

    input[type="checkbox"] {
      position: absolute !important;
      height: 100%;
      width: 100%;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
}
