@use "sass:map";

$breakpoints: (
  md: 768px,
  lg: 1280px,
  xl: 1920px,
);

@mixin mq($breakpoint) {
  $query: map.get($breakpoints, $breakpoint);
  @media (min-width: $query) {
    @content;
  }
}
