@use "../functions" as *;

@mixin cardRatio($width, $direction: h) {
  width: rem($width);
  @if ($direction == v) {
    height: getHeightVertical($width);
  } @else if($direction == h) {
    height: getHeightHorizontal($width);
  }
}
