@use "sass:map";

$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

@function getFlexVariables($key) {
  @return map.get($flex-map, $key);
}

@mixin flex($jc: center, $ai: center, $dr: row) {
  display: flex;
  flex-direction: $dr;
  align-items: getFlexVariables($ai);
  justify-content: getFlexVariables($jc);
}

@mixin inlineFlex($jc: center, $ai: center, $dr: row) {
  display: inline-flex;
  flex-direction: $dr;
  align-items: getFlexVariables($ai);
  justify-content: getFlexVariables($jc);
}
