@use "../variables" as *;
@use "../functions" as *;

@mixin profileCircle($width: rem(18px)) {
  flex-shrink: 0;
  width: rem($width);
  height: rem($width);
  border-radius: 50%;
  overflow: hidden;

  img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
