// color
$colors: (
  lightblue: #6072f6,
  white: #ffffff,
  black: #0e0e10,
  lightgray: #9c9c9d,
  darkgray: #6e6e6f,
  blue: #3c29df,
  red: #f4361d,
  white-opacity: #ffffff,
  black-opacity-light: #0e0e10,
  purple: #8b57f7,
  black-opacity-dark: #0e0e10,
);

// font
$fontFamily: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
  'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  sans-serif;

$fontSize: (
  2xs: rem(8),
  xs: rem(12),
  sm: rem(13),
  base: rem(16),
  lg: rem(18),
  xl: rem(24),
  2xl: rem(28),
);
