@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.channel {
  &__figure {
    display: inline-block;
    width: 100%;
  }

  &__img {
    @include afterGradient;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: rem(422);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 30%;
    }
  }

  &__caption {
    max-width: rem(1024);
    margin: rem(268) auto rem(16);
    padding: 0 rem(16);

    .time {
      @include descriptionMobile;
    }

    .title {
      @include smallMobile;
      margin-top: rem(4);
      color: $gray-300;
    }
  }

  .follow {
    @include flex(start);
    margin-top: rem(16);
    gap: rem(16);
  }

  .star {
    dd {
      @include flex(start);
    }

    .icon {
      font-size: rem(16);
      color: $gray-500;
    }
  }

  .caption {
    @include descriptionMobile;

    span {
      color: $lightblue;
    }

    .title {
      margin: rem(2) 0;
    }

    .date {
      @include smallMobile;
      color: $gray-300;
    }
  }

  .section__content {
    @include flex(between, start, column);
    gap: rem(16);
    margin: rem(24) auto rem(96);
    max-width: rem(1024);
    padding: 0 rem(16);
  }

  .card {
    width: 100%;

    &__figure {
      @include flex(start, start);
      gap: rem(16);
    }

    &__img {
      @include cardRatio(124, h);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(8);
      }
    }
  }

  @include mq(md) {
    &__img {
      height: rem(922);
    }

    &__caption {
      margin: rem(744) auto rem(40);
      padding: 0 rem(40);
    }

    .card__img {
      @include cardRatio(280, h);
    }

    .caption {
      span {
        @include descriptionDesktop;
      }

      .title {
        @include descriptionDesktop;
        margin: rem(4) 0;
      }

      .date {
        @include smallDesktop;
      }
    }

    .section__content {
      margin: rem(32) auto rem(128);
      padding: 0 rem(40);
    }
  }

  @include mq(lg) {
    .star {
      .icon {
        font-size: rem(32);
      }
    }

    &__caption {
      @include flex(between, start);
    }

    .follow {
      gap: rem(24);
      margin-top: 0;
      flex-direction: row-reverse;
    }
  }
}
