@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.following {
  margin-top: rem(116);
  margin: rem(116) rem(16) 0 rem(16);

  .section__content {
    @include flex(start, start);
    flex-wrap: wrap;
    margin-top: rem(13);
    gap: rem(32) rem(8);
  }

  .card {
    flex-shrink: 0;
    width: 100%;

    @include rwdWrapper;
  }

  .caption {
    margin-top: rem(6);
  }

  @include mq(md) {
    margin: rem(140) rem(40) 0 rem(40);

    .section__content {
      margin-top: rem(18);
      gap: rem(32) rem(16);
    }

    .card {
      width: calc((100% - (rem(16) * 1)) / 2);
    }

    .caption {
      margin-top: rem(16);
    }
  }

  @include mq(lg) {
    margin-top: rem(180);

    .section__content {
      margin-top: rem(32);
    }

    .card {
      width: calc((100% - (rem(16) * 3)) / 4);
    }
  }
}
