@use "../abstracts/functions/units" as *;
@use "../abstracts/mixins" as *;

.main {
  margin-bottom: rem(92);

  .section {
    margin: rem(56) rem(16) 0 rem(16);

    &__content {
      margin-top: rem(10);
    }
  }

  @include mq(md) {
    .section {
      margin-left: rem(40);
      margin-right: rem(40);
    }
  }

  @include mq(lg) {
    .section {
      margin-top: rem(160);

      &__content {
        margin-top: rem(32);
      }
    }
  }
}
