@use "../abstracts/functions/units" as *;
@use "../abstracts/mixins" as *;

.main {
  margin-bottom: rem(92);

  .section {
    margin-top: rem(56);

    &__content {
      margin-top: rem(10);
    }
  }

  @include mq(lg) {
    .section {
      margin-top: rem(160);

      &__content {
        margin-top: rem(32);
      }
    }
  }
}
