@use "../abstracts/functions/units" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables/colors" as *;
@use "../abstracts/variables/zIndexes" as *;

.globalHeader {
  @include flex($ai: start);
  @include getGradientBg(top, (transparent, $black));
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $globalHeader-index;
  padding: rem(16) rem(16) 0 rem(16);

  &__title {
    @include inlineFlex;
    margin-bottom: rem(8);

    .icon {
      height: rem(24);
      font-size: rem(72);
      color: $red;
      vertical-align: bottom;
      overflow: hidden;
    }
  }

  .myPage__link {
    display: inline-block;
    flex-shrink: 0;
    width: rem(24);
    height: rem(24);

    margin-left: auto;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .snb {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(28);

    &__list {
      height: 100%;
    }

    a {
      color: $gray-300;
    }
  }

  &.is--scrolled {
    .snb {
      position: fixed;
      background-color: $black;
    }
  }

  @include mq(md) {
    padding: rem(24) rem(40) 0 rem(40);

    &__title {
      .icon {
        height: rem(40);
        font-size: rem(120);
      }
    }

    .myPage__link {
      width: rem(40);
      height: rem(40);
    }
  }

  @include mq(lg) {
    display: flex !important;
    padding: rem(32) rem(40) 0 rem(40);

    .myMenu__btn {
      @include flex($dr: column);
      flex-shrink: 0;
      gap: rem(6);
      width: rem(40);
      height: rem(40);
      margin-left: rem(16);

      span {
        display: inline-block;
        width: rem(24);
        height: rem(2);
        background-color: $white;
      }
    }
  }
}
