@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;

.highlight {
  margin-bottom: 100px;
  .section__content {
    @include flex(start);
    position: relative;

    overflow-x: scroll;
    gap: rem(8);
  }

  .card {
    position: relative;

    &__img {
      @include cardRatio(136);
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: fill;
        border-radius: rem(8);
      }
    }

    &__img {
      @include afterGradient;
    }

    .caption {
      position: absolute;
      bottom: 0;
      padding: rem(8);
      width: 100%;
      overflow: hidden;
    }
  }

  @include mq(md) {
    .card__img {
      @include cardRatio(200);
    }
  }

  @include mq(lg) {
    .card__img {
      @include cardRatio(272);
    }

    .section__content {
      gap: rem(16);
    }

    .caption {
      padding: rem(16);
    }
  }

  .description__item--first {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
