@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.history {
  overflow: hidden;

  .section__content {
    @include flex(start, start);
    overflow-x: auto;
  }

  .card {
    @include rwdWrapper;
    flex-shrink: 0;
    width: rem(192);

    &__item {
      padding: rem(4);
    }
  }

  .caption {
    margin-top: rem(6);
  }

  @include mq(md) {
    .section__content {
      gap: rem(8);
    }

    .card {
      width: rem(280);
    }

    .caption {
      margin-top: rem(10);
    }
  }

  @include mq(lg) {
    .card {
      width: rem(520);
    }

    .caption {
      margin-top: rem(20);
    }
  }
}
