@use "../abstracts/variables/colors" as *;
@use "../abstracts/variables/zIndexes" as *;
@use "../abstracts/mixins/gradientColor" as *;
@use "../abstracts/mixins/flexBox" as *;
@use "../abstracts/functions/units" as *;

.loading {
  @include flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $loading-index;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: $black;

  &.is--hidden {
    display: none;
  }

  .icon {
    font-size: rem(180);
    color: $red;
    transform: scale(1);
    animation-name: scaleLogo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  @keyframes scaleLogo {
    0% {
      transform: scale(40);
    }
    100% {
      transform: scale(1);
    }
  }
}
