@use "../abstracts/variables/zIndexs" as *;
@use "../abstracts/variables/colors" as *;
@use "../abstracts/functions/units" as *;
@use "../abstracts/mixins" as *;

.myMenu {
  display: none;
}

@include mq(lg) {
  .myMenu__button {
    @include flex($dr: column);
    flex-shrink: 0;
    gap: rem(6);
    width: rem(40);
    height: rem(40);
    overflow: hidden;

    span {
      display: inline-block;
      width: rem(24);
      height: rem(2);
      background-color: $white;
      // transition: transform 0.2s ease-in-out;
    }

    &.button--open {
      margin-left: rem(16);
    }

    &.button--close {
      position: fixed;
      top: rem(32);
      right: rem(40);
      z-index: -1;
      pointer-events: none;
    }
  }

  .myMenu {
    @include flex(start);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: rem(560);
    height: 100vh;
    padding: 0 rem(80);
    background-color: $black;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;

    &__list {
      @include flex($ai: start, $dr: column);
      gap: rem(24);
    }

    a {
      @include flex(start);
      @include gnbDesktop;
      gap: rem(10);
      padding: rem(4);
    }

    .icon {
      font-size: 40px;
      color: $gray-500;
    }

    &.is--opened {
      transform: translateX(0);

      .myMenu__button.button--close {
        z-index: $myMenu--close-index;
        transition: 0.2s ease-in-out;
        pointer-events: all;

        span {
          visibility: visible;

          &:nth-child(1) {
            transform-origin: top right;
            transform: rotate(-45deg);
          }

          &:nth-child(2) {
            visibility: hidden;
          }

          &:nth-child(3) {
            transform-origin: bottom right;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
