@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables/colors" as *;

.section {
  position: relative;
  margin-left: rem(16);
  margin-right: rem(16);

  &__header {
    @include flex(start);
    gap: rem(8);
    height: rem(32);

    .amount {
      @include titleMobile;
      color: $lightblue;
    }
  }

  &__title {
    @include titleMobile;
    color: $white;
    text-transform: uppercase;
  }

  &__footer {
    position: absolute;
    top: 0;
    right: rem(-14);
  }

  @include mq(md) {
    margin-left: rem(40);
    margin-right: rem(40);

    &__content {
      margin-top: rem(16);
    }
  }

  @include mq(lg) {
    &__header {
      height: rem(42);

      .amount {
        @include titleDesktop;
      }
    }

    &__title {
      @include titleDesktop;
    }

    &__footer {
      top: rem(2);
    }
  }
}
