@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables/colors" as *;

.section {
  position: relative;

  &__header {
    @include flex(start);
    gap: rem(8);
    height: rem(32);

    .button {
      margin-left: auto;
    }
  }

  &__amount {
    @include titleMobile;
    color: $lightblue;
  }

  &__title {
    @include titleMobile;
    color: $white;
    text-transform: uppercase;
  }

  &__footer {
    position: absolute;
    top: 0;
    right: rem(-14);
  }

  @include mq(md) {
    &__content {
      margin-top: rem(16);
    }
  }

  @include mq(lg) {
    &__header {
      height: rem(42);
    }

    &__amount {
      @include titleDesktop;
    }

    &__title {
      @include titleDesktop;
    }

    &__footer {
      top: rem(2);
    }
  }
}
