// color
$colors: (
  lightblue: #6072f6,
  white: #ffffff,
  black: #0e0e10,
  lightgray: #9c9c9d,
  darkgray: #6e6e6f,
  blue: #3c29df,
  red: #f4361d,
  white-opacity: #ffffff,
  black-opacity-light: #0e0e10,
  purple: #8b57f7,
  black-opacity-dark: #0e0e10,
);
