@use "sass:map";
@use "../functions/units" as *;

// font
$font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
  "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  sans-serif;

$font-size: (
  2xs: rem(8px),
  xs: rem(12px),
  sm: rem(13px),
  base: rem(16px),
  lg: rem(18px),
  xl: rem(24px),
  2xl: rem(28px),
);
