@use "../functions" as *;
@use "../variables" as *;
@use "sass:math";

%titleMobile {
  font-size: getFont(base);
  font-weight: 600;
  line-height: math.div(24, 16);
}

%titleDesktop {
  font-size: getFont(2xl);
  font-weight: 700;
  line-height: math.div(42, 28);
}

%descriptionMobile {
  font-size: getFont(sm);
  font-weight: 400;
  line-height: math.div(16, 13);
}

%descriptionDesktop {
  font-size: getFont(base);
  font-weight: 500;
  line-height: math.div(26, 16);
}

%smallMobile {
  font-size: getFont(xs);
  font-weight: 400;
  line-height: math.div(18, 12);
}

%smallDesktop {
  font-size: getFont(base);
  font-weight: 400;
  line-height: math.div(21, 16);
}

%upcomingMobile {
  font-size: getFont(lg);
  font-weight: 700;
  line-height: math.div(20, 18);
}

%upcomingDesktop {
  font-size: getFont(xl);
  font-weight: 700;
  line-height: math.div(24, 24);
}

%gnbMobile {
  font-size: getFont(2xs);
  font-weight: 400;
  line-height: math.div(8, 8);
}

%gnbTablet {
  font-size: getFont(xs);
  font-weight: 400;
  line-height: math.div(12, 12);
}

%gnbDesktop {
  font-size: getFont(xl);
  font-weight: 300;
  line-height: math.div(36, 24);
}
